
/**
 * Site Header Styles
 */
#site-header {
  background-color: $gray-lightest;

  min-height: 100px;
  border-bottom: 1px solid $white;
  box-shadow: 0px 0px 3px 0px $gray-light;
  position: relative;
  z-index: 1000;
  #header-phone {
    position:absolute;
    right:0;
    h2 {
      margin:0;
      color: $gray-light;
      span {
        color: $brand-primary;
        font-weight: bold;
      }
    }
  }
  #header-wrapper {
    position:relative;
  }
  #site-title {
    font-size: 36px;
  }
  #site-logo {
    margin:10px 0;
  }
  #site-navigation {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
  #site-description {
    font-size: 18px;
    font-weight: normal;
  }
}