#site-navigation {
  clear: both;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    ul {
      display: none;
      position: absolute;
      top: 100%;
      background-color: $gray-light;
      z-index: 99;
      border-top:1px solid $white;
      li {
        float: none;
        width: 200px;
        position: relative;
        a {
          color: $white;
        }
        ul {
          left: 100%;
          top: 0;
        }

      }
    }
    li {
      display: inline-block;
      position: relative;
      &:hover {

        & > ul{
          display: block;
        }
      }
      &:last-child {
        &:hover > ul {
          left:auto;
          right: 0;
        }

        &:hover > ul ul {
          left:auto;
          right: 100%;
        }

      }
      a {
        padding: 12px 15px;
        font-weight: 600;
        display: inline-block;
        color: $gray-dark;
        width: 100%;
      }
    }
  }
}